<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/home.css">
    <link href='https://fonts.googleapis.com/css?family=Libre Baskerville' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/794f38cff9.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>

<nav>
    <ul>
<li>
    <img src="../public/img/Logo@2x.png" id="img" alt="logo" />
</li>
<li>
    <input id="buscar" type="text"  placeholder="Buscar..."/>
    <input id="botao" type="submit" value="Ir"/>
    <label for="lupa" class="lupa">
      <i class="fa-solid fa-magnifying-glass"></i>
  </label>
</li>
<li>
  <i class="fa-solid fa-user"></i>
</li>
<li>
  <i class="fa-solid fa-cart-shopping"></i>
</li>
<li>
     </label>
     <div class='ball'></div>
  </li>
</ul>
</nav>
    <main>
<div class="slider">
  <div class="slides">
    <input type="radio" name="radio-btn" id="radio1">
    <input type="radio" name="radio-btn" id="radio2">
    <input type="radio" name="radio-btn" id="radio3">
    <input type="radio" name="radio-btn" id="radio4">

  <div class="slide first">
    <img src="../public/img/img1.jpg" alt="">
  </div>
  <div class="slide">
    <img src="../public/img/img2.png" alt="">
  </div>
  <div class="slide">
    <img src="../public/img/img3.png" alt="">
  </div>
  <div class="slide">
    <img src="../public/img/img4.jpeg" alt="">
  </div>
  <div class="navigation-auto">
    <div class="auto-btn1"></div>
    <div class="auto-btn2"></div>
    <div class="auto-btn3"></div>
    <div class="auto-btn4"></div>
  </div>
</div>
<div class="manual-navigation">
  <label for="radio1" class="manual-btn"></label>
  <label for="radio2" class="manual-btn"></label>
  <label for="radio3" class="manual-btn"></label>
  <label for="radio4" class="manual-btn"></label>
</div>
</div>

        <section id="gallery">
        <div class="card">
            <img src="../public/img/img1.jpg" alt="">
            <div class="container">
              <h4><b>Console Xbox Series S - branca</b></h4>
              <p></p>
            </div>
          </div>
                  <div class="card">
            <img src="../public/img/img1.jpg" alt="">
            <div class="container">
              <h4><b>Console Xbox Series S - branca</b></h4>
              <p></p>
            </div>
          </div>
          <div class="card">
            <img src="../public/img/img1.jpg" alt="">
            <div class="container">
              <h4><b>Console Xbox Series S - branca</b></h4>
              <p></p>
            </div>
          </div>
          <div class="card">
            <img src="../public/img/img1.jpg" alt="">
            <div class="container">
              <h4><b>Smartphone motorola</b></h4>
              <p></p>
            </div>
          </div>
          <div class="card">
            <img src="../public/img/img1.jpg" alt="">
            <div class="container">
              <h4><b>Smartphone Samgung</b></h4>
              <p<p></p>
            </div>
            </div>
              <div class="card">
                <img src="../public/img/img1.jpg" alt="">
                <div class="container">
                  <h4><b>Console Xbox Series S - branca</b></h4>
                  <p></p>
                </div>
                </div>
            </section>

<section id="gallery2">
              <div class="card">
                <img src="../public/img/img1.jpg" alt="">
                <div class="container">
                  <h4><b>Smartphone motorola</b></h4>
                  <p></p>
                </div>
              </div>
              <div class="card">
                <img src="../public/img/img1.jpg" alt="">
                <div class="container">
                  <h4><b>Smartphone motorola</b></h4>
                  <p></p>
                </div>
              </div>
              <div class="card">
                <img src="../public/img/img1.jpg" alt="">
                <div class="container">
                  <h4><b>Smartphone motorola</b></h4>
                  <p></p>
                </div>
              </div>
              <div class="card">
                <img src="../public/img/img1.jpg" alt="">
                <div class="container">
                  <h4><b>Smartphone Samsung</b></h4>
                  <p></p>
                </div>
            </div>
                <div class="card">
                    <img src="../public/img/img1.jpg" alt="">
                    <div class="container">
                      <h4><b>Smartphone motorola</b></h4>
                      <p></p>
                    </div>
                  </div>
                  <div class="card">
                    <img src="../public/img/img1.jpg" alt="">
                    <div class="container">
                      <h4><b>Smartphone Samgung</b></h4>
                      <p></p>
                      </div>
                    </div>
            </section>
    </main>
    <footer>
      <div class="footer">

      </div>
    </footer>
    <script src="../public/javascripts/home.js"></script>
</body>
</html>