<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/794f38cff9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/stylesheets/navbar.css">
    <link rel="stylesheet" href="../public/stylesheets/login.css">
    <script src="cadastro.js" defer></script>
    <title>Cadastro</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <img src="../public/img/Logo@2x.png" id='logo' alt="Logo">
            </li>
            <li>
                <input id="buscar" type="text"  placeholder="Buscar..."/>
                <input id="botao" type="submit" value="Ir"/>
            </li>
            <li>
                <div class='ball'></div>
            </li>
        </ul>
    </nav>
    <nav id='menu'>
        <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
        <ul>
          <li><a href='http://'>Home</a></li>
          <li><a class='dropdown-arrow' href='http://'>Produtos</a>
            <ul class='sub-menus'>
              <li><a href='http://'>Smartphone</a></li>
              <li><a href='http://'>Acessórios</a></li>
              <li><a href='http://'>Tablet</a></li>
            </ul>
          </li>
          <li><a href='http://'>Ofertas</a></li>
          <li><a href='http://'>Categoria</a></li>
        </ul>
      </nav>
      </nav>
    <main>
        <div class="id">
                <i class="fa-solid fa-user"></i>
                <h1>Identificação</h1>
        </div>
        <div class="margin">
                <div class="separacao">
                    <section class="formLogin">
                        <h2>Já tenho cadastro</h2>
                        <div class="mail">
                            <div class="login">
                            <div class="inputForm">
                                <form action="/customer/login" method="post">
                                <input type="text"  name="email" id="inputUsuarioLogin" value placeholder="Email">
                            </div>
                            </div>
                            <div class="senha">
                                <div class="inputForm">
                                    <input type="password" name="password" id="inputSenhaLogin" class="senha" value placeholder="Senha">
                                    <button class="senhaOlhoLogin" id="olho">
                                        <i class="fa-solid fa-eye"></i>
                                    </button>
                                </div>

                            </div>
                            <div id="botaoLogin">
                            <button id="botaoLogin" type="submit" class="botaoId">
                                <i class="fa-solid fa-right-to-bracket"></i>
                                <p>Entrar</p>
                            </button>
                        </form>
                            </div>
                            <div class="esquecimento">
                            <div id="esqueciEmail" class="esqueciES">Esqueci meu login
                            </div>
                            <div id="esqueciSenha" class="esqueciES">Esqueci a minha Senha
                            </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
    </main>
    <footer>
    </footer>
</body>
</html>