<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/profile.css">

    <title>Profile</title>
</head>



<body>

 <header>Header</header>




     



 <div class="container-profile">

   
       <div class="navigation">
         <ul>
             <li class="list active">
                 <a href="#">
                <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                <span class="title">Home</span>
                  </a>
              </li>
              <li class="list">
                  <a href="#">
                       <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                      <span class="title">Meus Dados</span>
                  </a>
              </li>
              <li class="list">
                  <a href="#">
                      <span class="icon"><ion-icon name="cart-outline"></ion-icon></span>
                       <span class="title">Meus Pedidos</span>
                   </a>
                </li>
               <li class="list">
                   <a href="#">
                      <span class="icon"><ion-icon name="chatbubbles-outline"></ion-icon></span>
                      <span class="title">Atendimento ao Cliente</span>
                  </a>
              </li>
         </ul>

       </div>

       <div class="main-profile">
           <div class="bemvindo">
               <div>
                   <img src="/public/img/profile_ninja.png">
               </div>
               <div class="usuario-bv">
                  <span>Bem Vindo, Usuario</span>
                  <span><ion-icon name="mail-outline"></ion-icon>Email</span> 
               </div>
               

           </div>


           <div>
               <h4><ion-icon name="cart-outline"></ion-icon>SEU ULTIMO PEDIDO</h4>
           </div>

           <div class="pedido-status">
               <div class="div-status">
                   <div>
                       <span>NÚMERO DO PEDIDO</span>
                   </div>

                   <div>
                       <span>#1234</span>
                   </div>
               </div>

               <div class="div-status">
                   <div>
                       <span>STATUS</span>
                   </div>
                   
                   <div>
                     <span>Concluido</span>
                  </div>
               </div>

               <div class="div-status">
                   <div>
                       <span>DATA</span>
                    </div>

                    <div>
                        <span>10/10/2010</span>
                    </div>
                   
               </div>

               <div class="div-status">
                   <div>
                       <span>PAGAMENTO</span>
                   </div>

                   <div>
                    <span>cartão/Dinheiro</span>
                   </div>
                   
               </div>
           </div>

           <div>
            <h4>Endereço</h4>
           </div>

           <div class="endereco">
               
               <div class="endereco-div">
                   <div>
                       <span>Endereço</span>
                   </div>

                   <div>
                       <span>Numero, Bairo</span>
                   </div>

                   <div>
                       <span>CEP, Cidade</span>
                   </div>
               </div>

               <div>
                   <span>codigo de rastreamento</span>
               </div>
           </div>

           <div>
               <h4>Status do Pedido</h4>
           </div>

           <div class="pedido-animacao">
               <div>
                   <span>pedido recebido</span>
               </div>

               <div>
                   <span>Enviado para transportadora</span>
               </div>

               <div>
                   <span>recebido pela transportadora</span>
               </div>

               <div>
                   <span>Mercadoria em transito</span>
               </div>

               <div>
                   <span>Saiu para entrega</span>
               </div>

               <div>
                   <span>Entrega Realizada</span>
               </div>

           </div>

       </div>
      
</div>  




















    <footer>Footer</footer>



    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script>
        const list = document.querySelectorAll('.list');
        function activeLink(){
            list.forEach((item)=>
            item.classList.remove('active'));
            this.classList.add('active');
        }

            list.forEach((item)=>
            item.addEventListener('click', activeLink));
    </script>
</body>



</html>
