
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,200;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/button.css">
    <link rel="stylesheet" href="/stylesheets/records.css">
    <link rel="stylesheet" href="/stylesheets/modal.css">
    <script src="/javascripts/main.js" defer></script>
    <title>Cadastro</title>
  </head>
  <body>
    <header>
      <h1 class="header-title">Cadastro de Produtos</h1>
  </header>
  <main>
    <div class="button-header">
      <button type="button" class="button blue mobile" id="cadastrarCliente">Cadastrar Produto</button>
      <button type="button" class="button blue mobile" id="cadastrarCategoria">Cadastrar Categoria</button>
      <button type="button" class="button blue mobile" id="cadastrarMarca">Cadastrar Produto</button>
    </div>
      <table id = "tbProduct" class="records">
          <thead>
              <tr>
                  <th>Nome</th>
                  <th>Preço</th>
                  <th>Peso</th>
                  <th>Tamanho</th>
                  <th>Marca</th>
                  <th>Modelo</th>
                  <th>Quantia</th>
                  <th>Descrição</th>
                  <th>Cor</th>
                  <th>Segue</th>
                  <th>Categoria</th>
                  <th>Imagem</th>
                  <th>Ação</th>


              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Smartphone Samsung Galaxy A03</td>
                  <td>R$40:00</td>
                  <td>1000</td>
                  <td><img style="
                  width:100px;
                  height:100px;
                  margin-top: 7px;" src="https://images-americanas.b2w.io/produtos/01/00/img/4342102/7/4342102701_1GG.jpg"
                      alt="Smartphone Samsung Galaxy A03 Core 32GB 4G Wi-Fi Tela 6.5'' Dual Chip 2GB RAM Câmera 8MP + Selfie 5MP - Preto"></td>
                      <td>Celular</td>
                      <td>
                      <button type="button" class="button green">editar</button>
                      <button type="button" class="button red">excluir</button>
                  </td>
              </tr>
          </tbody>
      </table>
      <div class="modal" id="modal">
          <div class="modal-content">
              <header class="modal-header">
                  <h2>Novo Produto</h2>
                  <span class="modal-close" id="modalClose">&#10006;</span>
              </header>
              <form id="form" class="modal-form" action="/adm/product" method="post">
                  <input type="text" name="name" id="nome" data-index="new" class="modal-field-large" placeholder="Nome do Produto" required>
                  <input type="text" name="price" id="preco" class="modal-field" placeholder="Preço" required>
                  <input type="text" name="weight" id="peso" class="modal-field" placeholder="Peso" required>
                  <input type="text" name="categoryId" id="categoria" class="modal-field" placeholder="Categoria" required>
                  <input type="text" name="size" id="tamanho" class="modal-field" placeholder="Tamanho" required>
                  <input type="text" name="brandID" id="marca" class="modal-field" placeholder="Marca" required>
                  <input type="text" name="" id="modelo" class="modal-field" placeholder="Modelo" required>
                  <input type="text" name="" id="quantia" class="modal-field" placeholder="Quantia" required>
                  <input type="text" name="" id="descricao" class="modal-field" placeholder="Descrição" required>
                  <input type="text" name="" id="cor" class="modal-field" placeholder="Cor" required>
                  <input type="text" name="" id="segue" class="modal-field" placeholder="Segue" required>
                  <input type="text" name="" id="imagem" class="modal-field-large" placeholder="Imagem" required>
                  <footer class="modal-footer">
                      <button type="submit" id="salvar"class="button green">Salvar</button>
                      <button id="cancelar"class="button blue">Cancelar</button>
                  </footer>

              </form>
          </div>
      </div>
      
  <!-- Modal Categoria-->

       <div class="modal" id="modalCat">
         <div class="modal-content">
            <header class="modal-header">
              <h2>Novo Produto</h2>
                <span class="modal-close" id="modalCloseCat">&#10006;</span>
                </header>
                <form id="form" class="modal-form" action="/adm/product" method="post">
                 <input type="text" name="name" id="nome" data-index="new" class="modal-field-large" placeholder="Nome da Categoria" required>
                <footer class="modal-footer">
                 <button type="submit" id="salvar"class="button green">Salvar</button>
                 <button id="cancelar"class="button blue">Cancelar</button>
                  </footer>
                  
                  </form>
            </div>
        </div>

        <div class="modal" id="modalMar">
            <div class="modal-content">
               <header class="modal-header">
                 <h2>Novo Produto</h2>
                   <span class="modal-close" id="modalCloseMar">&#10006;</span>
                   </header>
                   <form id="form" class="modal-form" action="/adm/product" method="post">
                    <input type="text" name="name" id="nome" data-index="new" class="modal-field-large" placeholder="Nome da Categoria" required>
                   <footer class="modal-footer">
                    <button type="submit" id="salvar"class="button green">Salvar</button>
                    <button id="cancelar"class="button blue">Cancelar</button>
                     </footer>
                     
                     </form>
               </div>
           </div>

                        

  </main>
  <footer>
      <img src="/img/Logo.png" alt="">
      <div class="info">
          <span>DH - Digital House</span>
          <span>Av. Domingos Odália Filho, 301, Osasco - SP</span>
          <span>(11) 4858-4656</span>
          <span>alunos@digitalhouse.com</span>
      </div>

      <div class="info" id="info">
          <p>Quem somos nós</p>
          <p>Nossas redes sociais:</p>
          <div class="social_media">
              <a href="#"><i class="fa-brands fa-instagram fa-xl"></i></a>
              <a href="#"><i class="fa-brands fa-facebook-square fa-xl"></i></a>
              <a href="#"><i class="fa-brands fa-whatsapp fa-xl"></i></a>
          </div>
      </div>
  </footer>
  </body>