<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/saleProducts.css">
    <link rel="stylesheet" href="../public/stylesheets/footer.css">
    <script src="https://kit.fontawesome.com/794f38cff9.js" crossorigin="anonymous"></script>
    <title>saleProducts</title>
</head>
<body>
    <section id="gallery">
        <div class="card">
            <img src="./img/console 2.png" alt="">
            <div class="container">
              <h4><b>Console Xbox Series S - branca</b></h4>
              <p></p>
            </div>
          </div>
                  <div class="card">
            <img src="./img/console 2.png" alt="">
            <div class="container">
              <h4><b>Console Xbox Series S - branca</b></h4>
              <p></p>
            </div>
          </div>
          <div class="card">
            <img src="./img/console 2.png" alt="">
            <div class="container">
              <h4><b>Console Xbox Series S - branca</b></h4>
              <p></p>
            </div>
          </div>
          <div class="card">
            <img src="./img/motorola 2.png" alt="">
            <div class="container">
              <h4><b>Smartphone motorola</b></h4>
              <p></p>
            </div>
          </div>
          <div class="card">
            <img src="./img/smartphone 3.png" alt="">
            <div class="container">
              <h4><b>Smartphone Samgung</b></h4>
              <p<p></p>
            </div>
            </div>
              <div class="card">
                <img src="./img/PS5 6.png" alt="">
                <div class="container">
                  <h4><b>Console Xbox Series S - branca</b></h4>
                  <p></p>
                </div>
                </div>
            </section>
            <section id="gallery2">
                <div class="card">
                    <img src="./img/console 2.png" alt="">
                    <div class="container">
                      <h4><b>Console Xbox Series S - branca</b></h4>
                      <p></p>
                    </div>
                  </div>
                          <div class="card">
                    <img src="./img/console 2.png" alt="">
                    <div class="container">
                      <h4><b>Console Xbox Series S - branca</b></h4>
                      <p></p>
                    </div>
                  </div>
                  <div class="card">
                    <img src="./img/console 2.png" alt="">
                    <div class="container">
                      <h4><b>Console Xbox Series S - branca</b></h4>
                      <p></p>
                    </div>
                  </div>
                  <div class="card">
                    <img src="./img/motorola 2.png" alt="">
                    <div class="container">
                      <h4><b>Smartphone motorola</b></h4>
                      <p></p>
                    </div>
                  </div>
                  <div class="card">
                    <img src="./img/smartphone 3.png" alt="">
                    <div class="container">
                      <h4><b>Smartphone Samgung</b></h4>
                      <p<p></p>
                    </div>
                    </div>
                      <div class="card">
                        <img src="./img/PS5 6.png" alt="">
                        <div class="container">
                          <h4><b>Console Xbox Series S - branca</b></h4>
                          <p></p>
                        </div>
                        </div>
                    </section>
                    <!-- footer -->
                    <footer>
                      <img src="./public/img/Logo@2x.png" alt="">
                      <div class="info">
                          <span>DH - Digital House</span>
                          <span>Av. Domingos Odália Filho, 301, Osasco - SP</span>
                          <span>(11) 4858-4656</span>
                          <span>alunos@digitalhouse.com</span>
                      </div>
                  
                      <div class="info" id="info">
                          <p>Quem somos nós</p>
                          <p>Nossas redes sociais:</p>
                          <div class="social_media">
                              <a href="#"><i class="fa-brands fa-instagram"></i></a>
                              <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                              <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                          </div>
                      </div>
                  </footer>
                  <!-- footer -->
</body>

</html>