.button{
    border-style: none;
    height: 2.5rem;
    padding: 0.375rem 0.75rem;
    background-color: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow .6s ease;
}

.button-header{
    display: flex;
    justify-content: space-around;
    gap: 0.7rem;
}

.button.blue{
    background-color: #1FB6FF;
    border-radius: 0.25rem;

    
}

button.green{
    background-color: #13CE66;
    border-radius: 0.25rem;
}

button.red{
    background-color: #FF4949;
    border-radius: 0.25rem;
}

.button:hover{
    box-shadow: inset 12.5rem 0 0 #00000055;
}



@media(max-width:480px){
    .button.mobile{
        color:transparent;
        font-size:0;
        width: 3.125rem;
        height: 3.125rem;
        border-radius: 50%;
        position:fixed;
        top: 90vh;
        left: 80vw;
    }
    .button.mobile::before{
        content: "+";
        color:black;
        font-size:2rem;
        width:100%;
        height:100%;
    }
}