*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-image: linear-gradient(rgb(74, 206, 230,1),rgb(74 206 210 / 0%));
    }

  main{
    background-color: #fefefe;
    padding: 14px;
    width: 100vw;
  }
  h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.6rem;
  }
  .margin{
    display: flex;
    flex: 1 1 0%;
    flex-direction: row;
    margin-top: 48px;
    align-items: center;
    justify-content: center;
  }

  .separacao{
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 63.125rem;
  }

input{
    position: relative;
    width: 262px;
    height: 36px;
    border-style: solid;
    border-width: 0.0625rem;
    border-radius: 0.25rem;
    border-color: gray;
}
.inputForm{
    margin-bottom: 2.5px;
}
.senha{
    position: relative;
}
.senhaOlhoLogin{
    position: absolute;
    left: 236px;
    background: none;
    cursor: pointer;
    border:none;
    top: 11px;
    
}
.senha i{
    width: 14;
    height: 14;
    fill: none;
    border: none;
}

.divisoria{
    display: flex;
    width: 2px;
    background-color: blueviolet;
    margin: 0 32px;
}

.preform{
    position: relative;
}

.senhaCadastro{
    position: relative;
}
.senhaOlho{
    position: absolute;
    border: none;
    background: none;
    cursor: pointer;
    left: 238px;
    top: 11px;
}
.confirmaSenha{
    position: relative;
}
.senhaOlho2{
    position: absolute;
    border: none;
    background: none;
    cursor: pointer;
    left: 238px;
    top: 11px;
}
.doc{
    position: relative;
    margin-bottom: 16px;
}
.doc input{
background: nones;
}
#botaoPreCadastro{
position: relative;
margin-bottom: 1rem;
justify-content: center;
align-items: center;
}
#botaoPreCadastro i{
    display: flex;
    align-items: center;
    margin: 1px;
}
.botaoPreCadastro{
  width: 100%;  
  height: 32px;
  display: flex;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(80, 206, 230,1);
  border-radius: 16px;
  background-color: #fefefe;
  background: none;
  user-select: none;
  font-size: 18px;
  font: 700;
  font-weight: 700;
}
input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@media(max-width: 590px){
    .separacao{
        display: table-row;
    }
}