.fa-brands {
    padding: 1.25rem;
    font-size: 1.875rem;
    text-align: center;
    text-decoration: none;
}

.fa-brands:hover {
    opacity: 0.7;
  }

.fa-square-facebook {
    color: #F0F8FF;
}

.fa-whatsapp {
    color: #F0F8FF;
    font-size: 1.875rem;
}

.fa-instagram {
    color: #F0F8FF;
}

.card .text .social-media {
    display: flex;
    font-size: 2.5rem;
    gap: 2.5rem;
}

.fa-linkedin {
    color: #0e76a8;
}

.fa-github {
    color: #171515;
}

hr {
    width: 90%;
}

#card2 {
    text-align: right;
}

#social-media2 {
    justify-content: right;
}

footer {
    height: 15.188;
    width: 100%;
    max-width: 100%;
    background-image: linear-gradient(0deg, rgb(74, 206, 230) 0%,#fefefe 80%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer img {
    margin-left: 3rem;
    border-radius: 1.188rem;
    height: 10.188rem;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 400;
    line-height: 1.875rem;
    text-align: justify;
    color: black;
}

#info {
    gap: 1.25rem;
    align-items: center;
}

.social_media {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social-media i {
    cursor: pointer;
}

footer a { 
    color: inherit;
}

.cart-container .cart-footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-bottom: 1.875rem;
}

.cart-container .cart-footer .total {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.cart-container .cart-footer .total span {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.625rem;
}

.cart-container .cart-footer .buy {
    width: 90%;
    height: 3.125rem;
    background-color: #68cc21;
    font-size: 0.875rem;
    color: #FEFEFE;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0.313rem;
}

@media only screen and (max-width: 600px) {
    footer img {
        margin-left: 1.25rem;
        border-radius: 0.625rem;
        height: 3.125rem;
    }

    footer {
        font-size: 0.625rem;
        gap: 0.938rem;
        padding-right: 1.25rem;
    }
}