*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

nav
{
  background-image: linear-gradient(#4acee6,rgb(74 206 210 / 0%));
}

ul, li
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.313rem;
  text-decoration: none;
}


main
{
  background-color: #fefefe;
  padding: 0.875rem;
  width: 100vw;
  height: 65vh;
}

h1
{
  padding: 7vh;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: black;
  text-transform: uppercase;
  font-weight: 800;
  right: 25px;
  display: flex;
  position: relative;
}

h2
{
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
  height: 100%;
}

input
{

    position: relative;
    width: 16rem;
    height: 2rem;
    border-style: solid;
    border-width: 0.0625rem;
    font-size:1rem;
    border-color:#cccccc;
    padding:12px; border-width:2px;
    border-radius:13px; border-style:solid;
    text-shadow:0px 0px 0px #2a2a2abd;
    box-shadow: 0px 0px 5px 0px #50cee6;
}

.id
{
  display: flex;
  flex-direction: row;
  -webkit-box-align: baseline;
  align-items: baseline;
  justify-content: center;
}

.id i
{
  width: 1.5rem;
  height: 1.5rem;
}

.margin
{
  display: flex;
  flex: 1 1 0%;
  flex-direction: row;
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
}

.login {
  display: flex;
  position: relative;
  left: 18px;
}

.inputBox {
  justify-content: center;
  margin: 5px;
  padding: 5px;
}
.mail
{
    position: relative;
    margin: 5px;
    padding: 5px;
    margin-bottom: 1rem;
}

#enter
{
  right: 10px;
}


#botaoLogin
{
position: relative;
justify-content: center;
align-items: center;
cursor: pointer;
display: flex;
left: -7px;
}

#botaoLogin p:hover
{
    color: rgb(240, 81, 232);
}

.botaoId
{
    width: 85%;
    display: flex;
    -webkit-box-pack: center;
    align-items: center;
    border: 1px solid #50cee6;
    border-radius: 1rem;
    background-color: #fefefe;
    user-select: none;
    font-size: 1.125rem;
    font-weight: 700;
    transition: background-color 0.3s ease 0s;
}

.esquecimento
{

    margin: 1rem;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    right: 12px;
}

#esqueciEmail
{
    font-size: 0.75rem;
    font-weight: 700;
    text-decoration: underline;
    margin: 0 0.5rem;
    cursor: pointer;
    top: 5px;
    display: flex;
    position: relative;
}

#esqueciSenha
{
    font-size: 0.75rem;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
    position: relative;
    display: flex;
    top: 5px;
}

#toggle {
  position: absolute;
  top: 42%;
  right: 45px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  color: #7f60eb;
  background-size: cover;
  cursor: pointer;
}

#toggle:active
{
  color: #3b476b;
  cursor: pointer;
  background-size: cover;
}