@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Montserrat:wght@600&family=Roboto:wght@500&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Libre Baskerville', serif;
}



header{
    height: 12.5rem/* 200px */;
}



.navigation{
    position: relative;
    height: 29.375rem;
    width: 4.375rem;

    background: #424242;
    box-shadow: 0.625rem 0 0 rgb(196,19,167);
    overflow-x: hidden;
    transition: 0.5s;
}

.navigation:hover{
    width: 18.75rem;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 0.313rem;
    padding-top: 2.5rem;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    border-left: 0.625rem solid #424242;
}   

.navigation ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: black;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 3.75rem;
    height: 3.75rem;
    text-align: center;
    line-height: 4.375rem;
}

.navigation ul li a .icon ion-icon{
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding-left: 0.625rem;
    height: 3.75rem;
    line-height: 3.75rem;
    white-space: nowrap;
}

.navigation ul li.active{
    background: rgb(196,19,167);
    
}

.navigation ul li.active a::before{
    content: '';
    position: absolute;
    top: -1.875rem;
    right: 0;
    width: 1.875rem;
    height: 1.875rem;
    background: #424242;
    border-radius: 50%;
}

.navigation ul li.active a::after{
    content: '';
    position: absolute;
    bottom: -1.875rem;
    right: 0;
    width: 1.875rem;
    height: 1.875rem;
    background: #424242;
    border-radius: 50%;
    box-shadow: 10.313rem -10.313rem 0 rgb(196,19,167);
}

.meusdados-container{
    display: flex;
    gap: 2%;
    background: #fff;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.meusdados-titulo{
    display: flex;
    gap: 0.313rem;
}

.list-enderco{
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

ion-icon{
    width: 20.313rem;
    height: 20.313rem;
}

.form input{
    width:100%;
    height:100%;
    color:#000;
    padding-top:0.313rem;
    font-size: 1rem;
    outline: none;
    background-color: transparent;
    border-radius: 0.313rem;

}

.anim-form input{
    width:100%;
    height:100%;
    color:#000;
    padding-top:0.313rem;
    font-size: 1rem;
    outline: none;
    background-color: transparent;
    border-radius: 0.313rem;
}

.anim-form label{
    position: relative;
    left:0px;
    bottom: 1.375rem;
    width:100%;
    height:100%;
    pointer-events: none;
}

.anim-form label span{
    position: absolute;
    right: 21.25rem;
    top: 1.25rem;
    transition: all .9s ease;
    font-size: 1rem;
}

#login{
    position: absolute;
    right: 10.125rem;
    top: 1.25rem;
    
}

#lcpf{
    position: absolute;
    right: 14.625rem;
    top: 1.25rem;

}

#lrg{
    position: absolute;
    right: 15rem;
    top: 1.25rem;

}

#lniver{
    position: absolute;
    right: 14.375rem;
    top: 1.25rem;


}

#lcel{
    position: absolute;
    right: 20.625rem;
    top: 1.25rem;

}

.anim-form input:focus + label span{
    background-color: #ffff;
    transform: translate(0.125rem, -10.313rem);
    transition: all 0.8s ease;
    font-size: 0.9rem;
}


.form-radio{
    display: flex;
    

}

.form-radio input{
    border: none;
    height: 10.313rem;
    
}




.form input:focus{
    transition: 1.5s;
    border-color: rgb(196,19,160);    
}

.button:hover{
    transition: 1.5s;
    background-color: rgb(196,19,160); 

}