@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Montserrat:wght@600&family=Roboto:wght@500&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Libre Baskerville', serif;
}



header{
    height: 200px;
}



.navigation{
    position: relative;
    height: 470px;
    width: 70px;

    background: #424242;
    box-shadow: 10px 0 0 rgb(196,19,167);
    overflow-x: hidden;
    transition: 0.5s;
}

.navigation:hover{
    width: 300px;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-left: 10px solid #424242;
}   

.navigation ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: black;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}

.navigation ul li a .icon ion-icon{
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.navigation ul li.active{
    background: rgb(196,19,167);
    
}

.navigation ul li.active a::before{
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #424242;
    border-radius: 50%;
}

.navigation ul li.active a::after{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #424242;
    border-radius: 50%;
    box-shadow: 15px -15px 0 rgb(196,19,167);
}

.meusdados-container{
    display: flex;
    gap: 2%;
    background: #fff;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.meusdados-titulo{
    display: flex;
    gap: 5px;
}

.list-enderco{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ion-icon{
    width: 25px;
    height: 25px;
}

.form input{
    width:100%;
    height:100%;
    color:#000;
    padding-top:5px;
    font-size: 16px;
    outline: none;
    background-color: transparent;
    border-radius: 5px;

}

.anim-form input{
    width:100%;
    height:100%;
    color:#000;
    padding-top:5px;
    font-size: 16px;
    outline: none;
    background-color: transparent;
    border-radius: 5px;
}

.anim-form label{
    position: relative;
    left:0px;
    bottom: 22px;
    width:100%;
    height:100%;
    pointer-events: none;
}

.anim-form label span{
    position: absolute;
    right: 220px;
    top: 20px;
    transition: all .9s ease;
    font-size: 1rem;
}

#login{
    position: absolute;
    right: 162px;
    top: 20px;
    
}

#lcpf{
    position: absolute;
    right: 234px;
    top: 20px;

}

#lrg{
    position: absolute;
    right: 240px;
    top: 20px;

}

#lniver{
    position: absolute;
    right: 170px;
    top: 20px;


}

#lcel{
    position: absolute;
    right: 210px;
    top: 20px;

}

.anim-form input:focus + label span{
    background-color: #ffff;
    transform: translate(2px, -15px);
    transition: all 0.8s ease;
    font-size: 0.9rem;
}


.form-radio{
    display: flex;
    

}

.form-radio input{
    border: none;
    height: 15px;
    
}




.form input:focus{
    transition: 1.5s;
    border-color: rgb(196,19,160);    
}

.button:hover{
    transition: 1.5s;
    background-color: rgb(196,19,160); 

}