.modal{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #00000090;
    opacity: 0;
    z-index: -1;
}

.modal.active{
    opacity: 1;
    z-index: 1;
}

.modal-content{
    display: flex;
    flex-direction: column;
    gap:1.25rem;
    width: 50vw;
    margin: 15vh auto;
    padding-bottom: 1.25rem;
    background-color: white;
    box-shadow: 1px 1px 0.625rem black;
}

.modal-header{
    display: flex;
    position: relative;
    justify-content: center;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1rem;
    color: white;
}



.modal-close{
    position: absolute;
    right: 0;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.modal-close:hover{
    background-color: #FF4949;
    color: white;
}

.modal-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.25rem;
    padding: 0 1.25rem;
}

.modal-field{
    width: calc(50% - 0.625rem);
    height: 2.5rem;
    outline-style: none;
    border-style: none;
    box-shadow: 0 0 0.125rem black;
    padding: 0 0.625rem;
    font-size:1rem;
}

.modal-field-large{
    width: 100%;
    height: 2.5rem;
    outline-style: none;
    border-style: none;
    box-shadow: 0 0 0.125rem black;
    padding: 0 0.625rem;
    font-size:1rem;
}

.modal-field-large:focus{
    border: 0.125rem solid var(--primary-color);
    box-shadow: 0 0 0.1875rem var(--primary-color);
}

.modal-field:focus{
    border: 0.125rem solid var(--primary-color);
    box-shadow: 0 0 0.1875rem var(--primary-color);
}


.modal-footer{
    background-color: inherit;
    text-align: right;
    padding: 0 1.25rem;
}

@media (max-width:30rem){
    .modal{
        top:100%;
        transition: all 1s ease;
    }
    .modal.active{
        top:0;
    }
    .modal-content{
        margin:0;
        width:100%;
        position:fixed;
    }
    .modal-field{
        width:100%;
    }
}