*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: 'Libre Baskerville', serif;
}

nav
{
  background-image: linear-gradient(#4acee6,rgb(74 206 210 / 0%));
}
main
{
  height: 100vh;
}

ul, li
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.313rem;
  text-decoration: none;
}

input {
    top: 0px;
    display: flex;
    position: relative;
    text-shadow:0px 0px 0px #2a2a2abd;
    box-shadow: 0px 0px 0.313rem 0px #50cee6;

}
input[type=radio] {
    border: 0px;
    width: 10%;
    height: 1.3em;
    top: 2.188rem;
}

button[type=submit] {
    padding: 0.75rem;
    position: relative;

}

h2 {
  padding: 0.313rem;
}

.custumer{
  padding: 0.313rem;
  margin: 0.313rem;
}

.typesCard {
    display: flex;
    flex-direction: row;
}
.card {
    padding: 0.313rem;
    margin: 0.313rem;
}

.fa-lock {
    left: 14.375rem;
    bottom: 1.875rem;
    cursor: pointer;
    position: relative;
}


.whatCard{
    display: table;
    padding: 0.313rem;
    font-size:1rem;
    border-color:#cccccc;
    padding:0.75rem; border-width:0.125rem;
    border-radius:0.813rem; border-style:solid;
    text-shadow:0px 0px 0px #2a2a2abd;
    box-shadow: 0px 0px 0.313rem 0px #50cee6;;
}
