*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Libre Baskerville', sans-serif, serif;
}
nav{
    background-image: linear-gradient(rgb(74, 206, 230,1),rgb(74 206 210 / 0%));
  }
  .logo{
      width: 63px;
      height: 65px;
      top: -2096px;
      left: 877px;
  }
  #buscar{
  position: relative;
  display:block;
  width: 70vw;
  height: 3vh;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  color: rgb(2,2,2);
  background-color: rgba(230, 241, 240);
  line-height: 10px;
  }
  #botao{
    font-size: 14px;
    cursor: pointer;
    outline: 0;

    background: 0 0;
    border: none;
    line-height: 1px;
    width: auto;
    height: 3vh;
    opacity: 0;
  }

  ul, li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  width: auto;
  }
  .lupa{
    margin-left: -5px;
    width: 30px;
    height: 32px;
    margin-top: 15px;
  }
  main{
    background-color: #fefefe;
    padding: 14px;
  }


.navigation{
    position: relative;
    height: 400px;
    height: 470px;
    width: 70px;
    background: #424242;
}
 div{
    display: flex;

    padding: 5px;
    gap: 10px;
    gap: 20px;

    width: 100vw;

    background: white;
}

.bemvindo{
    display: flex;
    gap: 2%;
}

.usuario-bv{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-profile{
    display: flex;
    flex-direction: column;

    margin: 10px;
    gap: 5px;
    gap: 15px;

    width: 80%;
}

.pedido-status{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(222, 224, 228);

}

.div-status{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.endereco{
    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-around;

    gap: 50%;

}

.pedido-animacao{
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.endereco-div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rastreamento{
    justify-content: center;}