#btn {
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:50px;
    border-width:1px;
    color:#fff;
    border-color:#599bb3;
    font-weight:bold;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    box-shadow: 0px 10px 14px -7px #276873;
    text-shadow: 0px 1px 0px #3d768a;
    background:linear-gradient(#599bb3, #408c99);
  }

  .btn:hover {
    background: linear-gradient(#408c99, #599bb3);
  }


  #btn1 {
    font-size:15px;
    font-family:Arial;
    width:120px;
    margin: 1px;
    left: 50px;
    height:40px;
    border-width:1px;
    color:#fff;
    border-color:#599bb3;
    font-weight:bold;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    box-shadow: 0px 10px 14px -7px #276873;
    text-shadow: 0px 1px 0px #3d768a;
    background:linear-gradient(#599bb3, #408c99);
  }

  .btn1:hover {
    background: linear-gradient(#408c99, #599bb3);
  }

/*   width: 14.5rem;
  height: 2.125rem;  referencias da tabela*/